
<link href="~/css/site.css" rel="stylesheet" />
<!-- Container element -->

<body class="bgcolour">

    <h1 id="header2" class="pb-5">Welcome! </h1>
    <a href="@Url.Action("CarIndex", "Vehicle")" class="btn btn-dark btnbanner text-decoration-none" id="header">Look our cars!</a>
    <div class="parallax"></div>

    <h1 id="header4" class="pb-5">Simply the best in services!</h1>
    <a href="@Url.Action("VanIndex", "Vehicle")" class="btn btn-dark btnbanner text-decoration-none" id="header3">All Vans!</a>
    <div class="parallaxvan"></div>

    <h1 id="header6" class="pb-5">And a excellent experience!</h1>
    <a href="@Url.Action("SpecialVehicleIndex", "Vehicle")" class="btn btn-dark btnbanner text-decoration-none" id="header5">Look our range in specials!</a>
    <div class="parallaxspecials"></div>
</body>