<h2 class="text-center text-danger pt-5">You're not an Admin</h2>
<section id="robot">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">The only thing we can give you, is a GIF of a dancing robot 😉</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container hir">
                    <h1 class="text-center"><img src="https://media.giphy.com/media/7xkxbhryQO7hm/giphy.gif" alt="GIF" /></h1>
                </div>
            </div>
        </div>
    </div>

</section>